@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url(./pic/background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}